<meta charset="utf-8" content="">

<div class="container">
  <div class="row">

    <table class="twelve columns">
      <tr>
        <td>Type</td>
        <td>Price</td>
        <td>When</td>

      </tr>

      {{#each insertData}}

      <tr>
        <td>{{type}}</td>
        <td>{{cost}}</td>
        <td>{{changedDate}}</td>
      </tr>

      {{/each}}
    </table>



  </div>
</div>
